{{#> layouts/base title="More info" }}
  {{#*inline "body-content"}}
    <main class="more-info-main">
      <nav class="more-info-nav">
        <a href="/" class="usa-button-big">
          ← {{htmlWebpackPlugin.options.data.buttons.back}}
        </a>
        <a href="https://respond.census.gov/acs/#respond" class="usa-button-big">
          {{htmlWebpackPlugin.options.data.buttons.start}} →
        </a>
      </nav>
      <h1>{{htmlWebpackPlugin.options.data.content.h1}}</h1>

      <p>
        {{htmlWebpackPlugin.options.data.content.fact}}
      </p>

      <a href="https://llkats.github.io/dos-acccc/resources/{{htmlWebpackPlugin.options.data.meta.enLang}}.html" class="usa-button-big">
        {{htmlWebpackPlugin.options.data.buttons.additionalResources}}
      </a>

    </main>
  {{/inline}}
{{/layouts/base}}
