{{#> layouts/base title="More info" assetPath="./../public"}}
  {{#*inline "body-content"}}
    <main class="more-info-main">
      <header class="secondary-header">
        <a
          href="{{htmlWebpackPlugin.options.data.linkPath}}"
          class="secondary-header-nav secondary-header-nav__back usa-button"
        >
          ← {{htmlWebpackPlugin.options.data.buttons.back}}
        </a>
        <picture class="secondary-logo-container">
          <source srcset="{{assetPath}}/img/main-logo-sm-2x.png"
            media="(max-width:600px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
          <source srcset="{{assetPath}}/img/main-logo-sm.png" media="(max-width:600px)">
          <img src="{{assetPath}}/img/main-logo-sm.png"
            alt="Count Me In: Census 2020. Our community counts; our community belongs. Image of the seal of the County of Alameda California.">
        </picture>
        <a href="https://respond.census.gov/acs/#respond" class="secondary-header-nav secondary-header-nav__start usa-button">
          {{htmlWebpackPlugin.options.data.buttons.start}} →
        </a>
      </header>
      <h1>{{htmlWebpackPlugin.options.data.content.h1}}</h1>

      <section class="more-info-facts">
        <div class="more-info-fact">
          <img class="more-info-icon" src="{{assetPath}}/img/bullhorn.png" alt="bullhorn icon">
          <p>{{htmlWebpackPlugin.options.data.content.fact1}}</p>
        </div>
        <div class="more-info-fact">
          <img class="more-info-icon" src="{{assetPath}}/img/hand-holding-money.png" alt="hand receiving money icon">
          <p>{{htmlWebpackPlugin.options.data.content.fact2}}</p>
        </div>
        <div class="more-info-fact">
          <img class="more-info-icon" src="{{assetPath}}/img/community.png" alt="community icon">
          <p>{{htmlWebpackPlugin.options.data.content.fact3}}</p>
        </div>
      </section>

      <a
        href="{{htmlWebpackPlugin.options.data.linkPath}}/resources/{{htmlWebpackPlugin.options.data.meta.enLang}}.html"
        class="usa-button-big additional-resources-button"
      >
        {{htmlWebpackPlugin.options.data.buttons.additionalResources}}
      </a>

    </main>
  {{/inline}}
{{/layouts/base}}
