{{#> layouts/base title="More info" assetPath="./../public"}}
  {{#*inline "body-content"}}
    <main class="more-info-main">
      <header class="secondary-header">
        <picture class="secondary-logo-container">
          <source srcset="{{assetPath}}/img/main-logo-sm-2x.png"
            media="(max-width:600px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
          <source srcset="{{assetPath}}/img/main-logo-sm.png" media="(max-width:600px)">
          <img src="{{assetPath}}/img/main-logo-sm.png" alt="{{htmlWebpackPlugin.options.data.words.infographicExplainer}}">
        </picture>
        <nav>
          <a
            href="{{htmlWebpackPlugin.options.data.linkPath}}"
            class="secondary-header-nav secondary-header-nav__back usa-button"
          >
            ← {{htmlWebpackPlugin.options.data.buttons.back}}
          </a>
          <a href="https://respond.census.gov/acs/#respond" class="secondary-header-nav secondary-header-nav__start usa-button">
            {{htmlWebpackPlugin.options.data.words.censusQuestionnaire}} →
          </a>
        </nav>
      </header>

      <section class="more-info-facts">
        <img src="{{assetPath}}/img/infographic-box-computer.png" alt="{{htmlWebpackPlugin.options.data.content.infographicExplainer}}">
        <img src="{{assetPath}}/img/infographic-arrow-down.png" class="infographic-down-arrow" alt="{{htmlWebpackPlugin.options.data.content.infographicExplainer}}">
        <img src="{{assetPath}}/img/infographic-arrow-right.png" class="infographic-right-arrow" alt="{{htmlWebpackPlugin.options.data.content.infographicExplainer}}">
        <img src="{{assetPath}}/img/infographic-box-icons.png" alt="{{htmlWebpackPlugin.options.data.content.infographicExplainer}}">
      </section>

      <a
        href="{{htmlWebpackPlugin.options.data.words.linkToGoogleDrive}}"
        class="usa-button-big additional-resources-button"
      >
        {{htmlWebpackPlugin.options.data.words.languageGuideGuideToCompleteThe2020Census}}
      </a>

    </main>
  {{/inline}}
{{/layouts/base}}
