{{#> layouts/base title="More info" assetPath="./../public"}}
  {{#*inline "body-content"}}
    <main class="more-info-main">
      <nav class="more-info-nav">
        <a href="/" class="usa-button-big">
          ← {{htmlWebpackPlugin.options.data.buttons.back}}
        </a>
        <a href="https://respond.census.gov/acs/#respond" class="usa-button-big">
          {{htmlWebpackPlugin.options.data.buttons.start}} →
        </a>
      </nav>
      <h1>{{htmlWebpackPlugin.options.data.content.h1}}</h1>

      <section class="more-info-facts">
        <div class="more-info-fact">
          <img class="more-info-icon" src="{{assetPath}}/img/bullhorn.png" alt="bullhorn icon">
          {{htmlWebpackPlugin.options.data.content.fact}}
        </div>
        <div class="more-info-fact">
          <img class="more-info-icon" src="{{assetPath}}/img/hand-holding-money.png" alt="hand receiving money icon">
          {{htmlWebpackPlugin.options.data.content.fact}}
        </div>
        <div class="more-info-fact">
          <img class="more-info-icon" src="{{assetPath}}/img/community.png" alt="community icon">
          {{htmlWebpackPlugin.options.data.content.fact}}
        </div>
      </section>

      <a href="/resources/{{htmlWebpackPlugin.options.data.meta.enLang}}.html" class="usa-button-big">
        {{htmlWebpackPlugin.options.data.buttons.additionalResources}}
      </a>

    </main>
  {{/inline}}
{{/layouts/base}}
