{{#> layouts/base title="Additional Resources" assetPath="./../public" }}
  {{#*inline "body-content"}}
    <main class="more-info-main">
      <header class="secondary-header">
        <a href="/more-info/{{htmlWebpackPlugin.options.data.meta.enLang}}.html" class="secondary-header-nav secondary-header-nav__back usa-button">
          ← {{htmlWebpackPlugin.options.data.buttons.back}}
        </a>
        <picture class="secondary-logo-container">
          <source srcset="{{assetPath}}/img/main-logo-sm-2x.png"
            media="(max-width:600px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
          <source srcset="{{assetPath}}/img/main-logo-sm.png" media="(max-width:600px)">
          <img src="{{assetPath}}/img/main-logo-sm.png"
            alt="Count Me In: Census 2020. Our community counts; our community belongs. Image of the seal of the County of Alameda California.">
        </picture>
        <a href="https://respond.census.gov/acs/#respond" class="secondary-header-nav secondary-header-nav__start usa-button">
          {{htmlWebpackPlugin.options.data.buttons.start}} →
        </a>
      </header>

      <h1>{{htmlWebpackPlugin.options.data.content.h1}}</h1>

      <ul>
        {{#each htmlWebpackPlugin.options.data.content.list}}
        <li><a href="{{link}}">{{copy}}</a></li>
        {{/each}}
      </ul>

    </main>
  {{/inline}}
{{/layouts/base}}
